body, html {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Don't show the scroolbar Evita que a barra de rolagem apareça */
}

#container {
  position: relative;
  width: 100%;
  height: 95%; /* Reduzimos a altura do container para acomodar o menu na parte inferior */
}

.word {
  position: absolute;
  font-size: 24px;
}

.title{
  margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}